<!--<h1>Noracle Graph</h1>-->
<div class="memberList" *ngIf="!subscriptionInProgress" style="position:absolute">
  <mat-accordion displayMode="flat" multi="true">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header expandedHeight="30px" collapsedHeight="30px">
        Participants
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let m of spaceMembers">{{m}}</li>
      </ul>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header expandedHeight="30px" collapsedHeight="30px">
        Help
      </mat-expansion-panel-header>
      <ul>
        <li><md-icon style="font-weight: bold">chat_bubble_outline</md-icon> selected / <md-icon>chat_bubble_outline</md-icon> deselected</li>
        <li><md-icon style="color: green">chat_bubble_outline</md-icon> rated positively / <md-icon style="color: rgb(255, 0, 0)">chat_bubble_outline</md-icon> rated negatively</li>
        <li><span style="font-weight: bold">>>></span> follow-up question</li>
        <li><span style="font-weight: bold">――</span> related question</li>
        <li>―――――――――――――――――――――</li>
        <li>More questions? <a href="mailto:noracle@dbis.rwth-aachen.de">noracle@dbis.rwth-aachen.de</a></li>
      </ul>
    </mat-expansion-panel>    
  </mat-accordion>       
</div>
<div #graphContainer>
  <div *ngIf="subscriptionInProgress" fxLayout="column" fxLayoutAlign="space-around center">
    <p>Subscribing to space&hellip;</p>
    <md-spinner></md-spinner>
  </div>
  <dnor-graph-view *ngIf="!subscriptionInProgress"
    [spaceId]="spaceId"
    [selectedQuestions]="selectedQuestions" [height]="height" [width]="width"
    [interactionMode]="interactionMode"></dnor-graph-view>
</div>
<div #below>
  <md-radio-group *ngIf="!subscriptionInProgress"
    fxLayout="row" fxLayoutGap="20px" fxLayoutWrap [(ngModel)]="interactionMode">
    <md-radio-button color="primary" *ngFor="let m of getInteractionModes()" [value]="m">
      {{getInteractionModeLabel(m)}}
    </md-radio-button>
  </md-radio-group>
</div>
