<section class="mat-typography">
  <p>We use the Learning Layers Open ID Connect Server for authentication.
    When you click the button below, you will be redirected there.
    You can also register a new account on this server.
    If you use this service for the first time you will also be asked to authorize this service to access your account
    information.
  </p>
  <p>Please log in and authorize the service to access your data</p>
</section>
<button md-raised-button color="primary" (click)="login()">Login with OpenID Connect</button>
