<h1 class="mat-h1">My Spaces</h1>
<md-list>
  <md-list-item *ngFor="let space of spaces">
    <a md-button color="primary" [routerLink]="['/spaces', space.space.spaceId]"
       [queryParams]="{sq: getStringifiedParamArray(space.subscription)}">{{space.space.name}}</a>
    <button md-icon-button (click)="copyInviteUrl(space)" color="primary">
      <md-icon>share</md-icon>
    </button>
  </md-list-item>
</md-list>
<br>
<button md-raised-button color="primary" routerLink="/spaces/create">Create new Space</button>